#container,
#colorPicker,
#hslPicker,
#huePicker,
#saturationPicker,
#swatches {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#colorPicker,
#hslPicker,
#saturationPicker,
#huePicker {
	border: 1px solid #000;
	cursor: crosshair;
}

#swatch,
#swatches canvas {
	border: 1px solid #fff;
	outline: 1px solid #000;
}

#colorPicker,
#huePicker,
#hslPicker,
#saturationPicker,
#swatch {
	display: inline-block;
}

#colorPicker canvas,
#hslPicker canvas,
#huePicker canvas,
#saturationPicker canvas,
#swatch canvas {
	vertical-align: bottom;
}

#swatches {
	width: 300px;
}

#swatches canvas {
	margin: 2px;
}